#root {
  margin: 0 auto;
  
  text-align: center;
}
.navbar-container {
  width: 100%; /* Take the full width */
}

.video-container {
  width: 100%; /* Take the full width */
  text-align: center;
  padding: 1em;
}
.count-container {
  background-color: whitesmoke;
  /* background-color: rgba(0, 58, 117, 0.2); */
  /* border: 1px solid #ccc; */
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  width: 42%;
  height: 80%;
  margin-left: 28.2%;
  animation: fadeIn 1s ease-in-out;
}

.count-text {
  /* color: var(--muidocs-palette-grey-50, #F3F6F9); */
  color: black;
  margin: 1rem;
}
h1 {
  font-size: 2.5em; /* ตัวอย่างการกำหนดขนาดเป็น 2 เท่าของขนาดปรกติ */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.PaperWrapper {
  display: flex;
  justify-content: center;
  
}

.CenterPaper {
  width: 80%;
  padding: 16px;
  margin: 20px; /* เพิ่มระยะห่างจากขอบด้านข้างมา 50px */
  animation: fadeIn 1s ease-in-out;
}
